* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: white;
}

/* Desktop */

@media only screen and (min-width: 90rem) {
  body {
    background-color: #f9fafd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    background-color: white;
    max-width: 73rem;
    height: 90vh;
    padding: 5rem;
    border-radius: 1.5rem;
    overflow: auto;
    box-shadow: 0rem 1rem 3rem rgba(1, 1, 1, 0.078);
  }
}
