* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.header-title {
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.amount {
  width: 3.2rem;
  height: 2.5rem;
  background-color: #0a327b;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.mark-all {
  all: unset;
  color: #5e6778;
  font-size: 1.5rem;
}

.mark-all:hover {
  color: #0a327b;
  transition: 0.2s;
  cursor: pointer;
}

.notifications-info-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notification {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}

.username {
  font-weight: 700;
  font-size: 1.5rem;
}

.action {
  font-size: 1.4rem;
  color: #5e6778;
}

.notification-upper-div {
  display: flex;
  gap: 1.2rem;
  align-items: start;
}

.profile-picture {
  width: 3.9rem;
  height: 3.9rem;
}

.notification-information span {
  margin-right: 0.5rem;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #f65552;
  display: inline-block;
}

.notification-information-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group-name {
  font-weight: 700;
  color: #0a327b;
  font-size: 1.5rem;
}

.post {
  color: #5e6778;
  font-size: 1.4rem;
  font-weight: 700;
}

.time {
  font-size: 1.5rem;
  color: #939cad;
}

.notification-text {
  border: 0.5px solid #c7c7c7;
  padding: 1.2rem;
  border-radius: 0.7rem;
  color: #5e6778;
  font-size: 1.4rem;
}

.user-picture {
  width: 3.9rem;
  height: 3.9rem;
}

.notification-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}

/* Desktop */

@media only screen and (min-width: 90rem) {
  body {
    background-color: #f9fafd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    background-color: white;
    max-width: 73rem;
    height: 90vh;
    padding: 5rem;
    border-radius: 1.5rem;
    overflow: auto;
    box-shadow: 0rem 1rem 3rem rgba(1, 1, 1, 0.078);
  }
}
